--
-- PostgreSQL database dump
--

\restrict Y8H6STAa8vSIgtVSrFDKi7qC4V1VDa69k2AFK5GanKyWaf93OgiwgyVxOEg33as

-- Dumped from database version 16.11
-- Dumped by pg_dump version 16.11

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

ALTER TABLE IF EXISTS ONLY public.mission_plans DROP CONSTRAINT IF EXISTS mission_plans_pkey;
ALTER TABLE IF EXISTS ONLY public.mission_logs DROP CONSTRAINT IF EXISTS mission_logs_pkey;
ALTER TABLE IF EXISTS public.mission_plans ALTER COLUMN id DROP DEFAULT;
ALTER TABLE IF EXISTS public.mission_logs ALTER COLUMN id DROP DEFAULT;
DROP SEQUENCE IF EXISTS public.mission_plans_id_seq;
DROP TABLE IF EXISTS public.mission_plans;
DROP SEQUENCE IF EXISTS public.mission_logs_id_seq;
DROP TABLE IF EXISTS public.mission_logs;
SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: mission_logs; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.mission_logs (
    id integer NOT NULL,
    name character varying(255) NOT NULL,
    date character varying(50) NOT NULL,
    duration character varying(50) NOT NULL,
    status character varying(50) NOT NULL,
    location character varying(255) NOT NULL,
    gps_track jsonb,
    detected_sites jsonb,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.mission_logs OWNER TO postgres;

--
-- Name: mission_logs_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.mission_logs_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.mission_logs_id_seq OWNER TO postgres;

--
-- Name: mission_logs_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.mission_logs_id_seq OWNED BY public.mission_logs.id;


--
-- Name: mission_plans; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.mission_plans (
    id integer NOT NULL,
    name character varying(255) NOT NULL,
    altitude numeric,
    speed numeric,
    waypoints jsonb NOT NULL,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.mission_plans OWNER TO postgres;

--
-- Name: mission_plans_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.mission_plans_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.mission_plans_id_seq OWNER TO postgres;

--
-- Name: mission_plans_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.mission_plans_id_seq OWNED BY public.mission_plans.id;


--
-- Name: mission_logs id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.mission_logs ALTER COLUMN id SET DEFAULT nextval('public.mission_logs_id_seq'::regclass);


--
-- Name: mission_plans id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.mission_plans ALTER COLUMN id SET DEFAULT nextval('public.mission_plans_id_seq'::regclass);


--
-- Data for Name: mission_logs; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: mission_plans; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Name: mission_logs_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.mission_logs_id_seq', 13, true);


--
-- Name: mission_plans_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.mission_plans_id_seq', 11, true);


--
-- Name: mission_logs mission_logs_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.mission_logs
    ADD CONSTRAINT mission_logs_pkey PRIMARY KEY (id);


--
-- Name: mission_plans mission_plans_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.mission_plans
    ADD CONSTRAINT mission_plans_pkey PRIMARY KEY (id);


--
-- PostgreSQL database dump complete
--

\unrestrict Y8H6STAa8vSIgtVSrFDKi7qC4V1VDa69k2AFK5GanKyWaf93OgiwgyVxOEg33as

